/* Basic Reset */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

ul {
    padding-left: 0;
    list-style: none;
}

img {
    max-width: 100%;
}

input:focus {
    outline: none;
}

/* Header */

header {
    background-color: rgb(212, 40, 40);
    color: white;
    padding: 0.875rem 0;
    text-align: center;
}

/* Search Form */

.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

form {
    display: flex;
    align-items: center;
}

form > * + * {
    margin-left: 0.5rem;
}


label {
    font-size: 1.125rem;
}


#name,
#btn {
    border: 1px solid gray;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
}

#btn {
    cursor: pointer;
}

/* Results */

.results {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2rem;
}

.list {
    text-align: center;
}

.list > * + * {
    margin-top: 1rem;
}


li {
    cursor: pointer;
    background-color: rgb(218, 209, 209);
    padding: 1rem;
}

li:hover {
    transform: scale(1.02);
}
